<aside
  class="offcanvas offcanvas-start shadow"
  tabindex="-1"
  id="menuLateral"
  aria-labelledby="menuLateralLabel"
  style="width: 280px"
>
  <div class="offcanvas-header justify-content-center border-bottom pt-4 pb-3">
    <img src="img/ford.png" alt="Ford Logo" style="width: 110px" />
  </div>
  <nav class="offcanvas-body p-0 list-group list-group-flush mt-2">
    <a
      routerLink="/home"
      routerLinkActive="active-menu"
      class="list-group-item list-group-item-action menu-item"
      >Home</a
    >
    <a
      routerLink="/dashboard"
      routerLinkActive="active-menu"
      class="list-group-item list-group-item-action menu-item"
      >Dashboard</a
    >
  </nav>
</aside>
