<!-- Header (Barra Superior) -->
<header class="container-fluid p-0 d-flex justify-content-between align-items-center menu-topbar shadow-sm">
  <button
    class="btn border-0 p-2 m-2"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#menuLateral"
    aria-controls="menuLateral"
  >
    <i class="bi bi-list fs-1 btn-menu-icon"></i>
  </button>
</header>

<aside
  class="offcanvas offcanvas-start shadow-lg menu-lateral-container"
  tabindex="-1"
  id="menuLateral"
  aria-labelledby="menuLateralLabel"
>
  <div class="offcanvas-header justify-content-center border-bottom pt-4 pb-3">
    <img src="img/ford.png" alt="Ford Logo" class="menu-logo" />
  </div>

  <nav class="offcanvas-body p-0 list-group list-group-flush d-flex flex-column mt-2">
    
    <a
      routerLink="/home"
      routerLinkActive="active-menu"
      class="list-group-item list-group-item-action menu-item"
    >
      <i class="bi bi-house-door fs-5"></i> Home
    </a>

    <a
      routerLink="/dashboard"
      routerLinkActive="active-menu"
      class="list-group-item list-group-item-action menu-item"
    >
      <i class="bi bi-speedometer2 fs-5"></i> Dashboard
    </a>

    <button
      class="list-group-item list-group-item-action btn-sair mt-auto"
      (click)="sair()"
    >
      <i class="bi bi-box-arrow-right fs-5"></i> Sair do Sistema
    </button>
    
  </nav>
</aside>